.form-wrapper {
  padding: 2rem 0rem;
}

.form-wrapper {
  display: flex;
  align-items: flex-end;
}
.form-wrapper .form-control {
  margin-left: 1rem;
}
.form-wrapper input {
  padding: 0.5rem;
  text-indent: 20px;
  font-size: 1.2rem;
}

.form-wrapper label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.form-wrapper select {
  width: 200px;
  font-size: 1.2rem;
  padding: 0.5rem;
}
